* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Montserrat';
    color: #000;
}

@font-face {
    font-family: " Magistral C bold";
    src: url(/fonts/Magistral\ C\ bold.ttf);
    font-family: "MagistralCTT Regular";
    src: url(/fonts/MagistralCTT\ Regular.ttf);
    font-family: "Museo Sans Cyrl 300";
    src: url(/fonts/Museo\ Sans\ Cyrl\ 300.ttf);
    font-family: "Museo Sans Cyrl 700";
    src: url(/fonts/Museo\ Sans\ Cyrl\ 700.ttf);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

/* -------------------------------------------HEADER----------------------------------------------------- */
.header {


    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}

.header__conteiner {

    min-height: 241px;
    align-items: center;
    justify-content: center;
}

.conteiner {
    max-width: 1553px;
    margin: 0px auto;
    padding: 0px 10px;

    display: flex;
}

.header__logo {

    margin: 0px 173px 0px 0px;
}



.header__body-info-map {

    margin: 0px 184px 0px 0px;

    text-align: center;
    font-size: 18px;
    line-height: 22px;

}

.header__button-work-hours {
    font-weight: 600;
    text-align: center;
    background: linear-gradient(94.65deg, rgba(255, 255, 255, 0.65) 16.38%, rgba(255, 255, 255, 0) 114.77%);
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    margin: 0px 0px 9px 0px;
    padding: 0px 15px;
}

.header__map {
    display: block;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: #000;
    text-decoration: underline;
}

.header__body-media-block {
    margin: 0px 125.89px 0px 0px;
    text-align: center;


}

.header__contact {
    display: flex;

}

.header__body-social-media {
    display: flex;

}

.header__body-social-media li:not(:last-child) {
    padding: 0px 19px 0px 0px;
}

.header__button-social-media {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 6px;
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 8px;


}

.header__button-social-media::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #4BDE7A;
    padding: 0;




}

.header__whatsapp {}

.header__whatsapp-link {}

.header__telegram {}

.header__viber {}

.header__body-phone-number {
    text-align: center;

}

.header__phone {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #000;


}

.header__phone :not(:last-child) {
    margin: 0px 0px 21px 0px;
}

.header__btn-phone {
    font-weight: 700;
    font-size: 18px;
    line-height: 18/22*100;
    text-align: center;
    padding: 28px 25px;
    background: linear-gradient(70.24deg, #118CE1 39.08%, #37AAFF 92.34%);
    box-shadow: 0px 21px 21px -14px rgba(0, 0, 0, 0.2), 0px 3px 0px #1A679C;
    border-radius: 14px;

}

.header__btn-phone a {
    color: #fff;
}

@media(max-width:1920px) {
    .header__logo img {
        max-width: 200px;
        max-height: 200px;
    }

    .header__phone {
        font-size: 22px;
    }

    .header__btn-phone {
        font-size: 14px;
        padding: 22px;
    }

    .header__logo {
        margin: 0px 120px 0px 0px;
    }

    .header__body-info-map {
        margin: 0px 80px 0px 0px;
    }

    .header__body-media-block {
        margin: 0px 80px 0px 0px;

    }

    .header__button-work-hours {
        font-size: 14px;
    }

    .header__map {
        font-size: 14px;
    }

    .header__conteiner {
        min-height: 180px;
    }
}

@media(max-width:1170px) {

    .header__logo {
        margin: 0px;
    }


    .header__body-info-map {
        display: none;

    }

    .header__whatsapp img,
    .header__viber img,
    .header__telegram img {
        max-width: 50px;
        max-height: 50px;
    }

    .header__conteiner {
        justify-content: space-between;
    }
}

@media(max-width:992px) {
    .header__phone {
        font-size: 20px;
    }

}

@media(max-width:768px) {
    .header__body-media-block {
        margin: 0px;

    }

    .header__conteiner {
        min-height: 150px;
    }

    .header__button-social-media {
        display: none;
    }

    .header__btn-phone {
        display: none;
    }

    .header__contact {
        display: flex;
        flex-direction: column;

    }

    .header__whatsapp,
    .header__viber,
    .header__telegram {

        text-align: center;

    }

    .header__phone {
        font-size: 18px;
    }

    .header__logo img {
        max-height: 180px;
        max-width: 180px;
    }

}

@media(max-width:480px) {
    .header__conteiner {
        min-height: 90px;
    }

    .header__logo img {
        max-height: 100px;
        max-width: 100px;
    }

    .header__whatsapp,
    .header__viber,
    .header__telegram {
        display: none;
    }

    .header__phone {
        font-size: 14px;
    }

    .header__conteiner {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
}

/* ----------------------------------------------MAIN----------------------------------------------------- */
.main {}

.main__main-page {
    position: relative;
    z-index: 20;
    padding: 258px 0px 0px 0px;
}

.main-page {
    position: relative;
}

.main-page__conteiner {
    display: flex;
    flex-direction: column;


}

.conteiner {}

.main-page__title {
    position: relative;
    z-index: 20;

    font-family: 'Museo Sans Cyrl';
    font-weight: 600;
    font-size: 63px;
    line-height: 63/76*100% ;
    text-transform: uppercase;
    margin: 0px 0px 39px 0px;


}

.main-page__cards {
    position: relative;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;


}

.main-page__card {
    margin: 0px 30px 40px 0px;
}

.main-page__item {
    display: flex;
    position: relative;
}

.main-page__body-image {}

.main-page__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    left: 0;
    z-index: 6;


}

.main-page__img-background {
    position: relative;
    top: 0px;
    left: 0;
    z-index: 2;

}


.main-page__textblock {
    padding: 0px 0px 0px 20px;
    font-weight: 700;
    font-size: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main_page__btn-body {
    position: relative;
    z-index: 20;
    display: flex;
    padding-bottom: 189px;

}

.main-page__button_orange {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(80.7deg, #EA9129 19.51%, #FFBB54 96.3%);
    box-shadow: 0px 37px 24px -27px rgba(0, 0, 0, 0.16), 0px 3px 0px #9A6E30;
    border-radius: 14px;
    padding: 34px 27px;
   margin: 0px 30px 0px 0px;
}


.button {}

.main-page__button_orange a {
    color: #fff;
}

.main-page__btn-grey a {
    color: #000;
}

.main-page__btn-grey {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;
    background: linear-gradient(201.08deg, #C5C5C5 -75.18%, rgba(210, 210, 210, 0) 160.9%, rgba(210, 210, 210, 0) 184.86%);
    border-radius: 13px;
    padding: 16px 85px 20px 21px;
}

.main-page__btn-grey::before {
    content: url(../img/gift.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

.cover {
    position: relative;
}

.cover img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


}

.main-page__img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.main-page__img-man1 img {
    position: absolute;
    bottom: 0;
    right: 371px;
    z-index: 15;


}

.main-page__img-man2 img {
    position: absolute;
    bottom: 0;
    right: 115px;
    z-index: 15;

}

.main-page__img-man3 img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;

}


@media(max-width:1920px) {
    .main-page__conteiner {
        max-width: 1180px;
    }

    .main-page__img-man1 img {
        right: 130px;
        max-width: 550px;
    }

    .main-page__img-man2 img {
        right: -50px;
        max-width: 550px;
    }

    .main-page__img-man3 img {
        right: -100px;
        max-width: 400px;
    }

    .main-page__title {
        font-size: 40px;
    }

    .main-page__textblock {
        font-size: 18px;
    }

    .main-page__button_orange {
        font-size: 18px;
    }

    .main-page__btn-grey {
        font-size: 14px;
    }

    .main__main-page {
        padding: 190px 0px 0px 0px;
    }
}

@media(max-width:1170px) {
    .main-page__image img{
       max-width: 80px;
       max-height: 80px;
    }
    .main-page__img-background img{
        max-width: 60px;
        max-height: 60px;
    }
    .main-page__img-man1 img {
        max-width: 470px;
    }
    .main-page__img-man2 img {
       
        max-width: 460px;
    }
    .main-page__img-man3 img {
        max-width: 330px;
    }
}

@media(max-width:992px) {
    .main-page__title {
        text-align: center;
    }

    .main-page__cards {
        align-items: center;
        justify-content: center;
    }

    .main-page__conteiner {
        align-items: center;
    }

    .main_page__btn-body {
        padding-bottom: 500px;
    }
    .main-page__img-man1 img {
        max-width: 370px;
        right: 420px;  
    }
    .main-page__img-man2 img {
        right: 120px;
        max-width: 360px;
    }
    .main-page__img-man3 img {
       
        right: 0;
        max-width: 250px;
    }
}

@media(max-width:768px) {
    .main-page__title {
        font-size: 30px;
    }
    .main-page__img-man1 img {
        max-width: 300px;
        right:200px; 
    }

    .main-page__img-man2 img {
        right:70px;
        max-width: 300px;
    }

    .main-page__img-man3 img {
        max-width: 200px;    
    }
    .main_page__btn-body{
        justify-content: center;
    flex-wrap: wrap;
    }
   
}
@media(max-width:710px){
    .main-page__button_orange{
        margin: 0px 0px 30px 0px;
    
    }
    .main_page__btn-body {
        padding-bottom: 450px;

    }
}

@media(max-width:480px) {
    .main__main-page {
        padding: 100px 0px 0px 0px;
    }
    .main-page__title {
        font-size: 24px;
    }
    .main-page__img-man1 img {
        max-width: 300px;
        right:60px; 
    }

    .main-page__img-man2 img {
        right:-40px;
        max-width: 300px;
    }

    .main-page__img-man3 img {
        right:-40px;
        max-width: 200px;    
    }
}



/* ---------------------------------------------FOOOTER------------------------------------------------- */
.footer {}